
* {
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 13px;
}

body {
  margin: 0px!important;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2em;
  background: white;
}

a {
  color: black;
}
